

body{
    background:      fixed url('photo-main/bg-2.jpg') no-repeat ;
    background-size: cover;
}

#social-network{
    position:  fixed;
    right:     10%;
    bottom:    2%;
   text-align: center ;
    
}

#social-network li{
    display:       inline-block;
    padding-right: 3px; 
}

#social-network li:last-child{
    padding-right: 0;
}

#social-network a{
    display:   block;
    width:     50px;
    height:    50px;
    font-size: 25px;
}

#social-network-2{
    font-size: 0;
    padding:   0;
}


.link-1{
     background: url('photo-main/css_sprites-2.png') -2px -2px;
}

.link-1:hover{
    background: url('photo-main/css_sprites-2.png') -56px -2px;
    transition: 0.5s;
}

.link-2{
    background: url('photo-main/css_sprites-2.png') -110px -2px;
}

.link-2:hover{
    background: url('photo-main/css_sprites-2.png') -164px -2px;
    transition: 0.5s;
}
.link-3{
    background: url('photo-main/css_sprites-2.png') -218px -2px; 
}

.link-3:hover{
    background: url('photo-main/css_sprites-2.png') -272px -2px;
    transition: 0.5s;
    }