

body{
    background:      fixed url('photo-main/bg-2.jpg') no-repeat ;
    background-size: cover;
}

#social-network-2 li,
#social-network-2 a
{
    display:       inline-block;
    padding-right: 3px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    overflow: hidden;
}

.link-1:before{
    content:    "";
    display:    inline-block;
    width:     50px;
    height:    50px;
    font-size: 25px;
    transform: rotate(45deg);
    background: url('photo-main/css_sprites-1.png') -56px -2px;
    border-radius: 25px;
}

li:hover a.link-1:before{
    ontent:    "";
    display:    inline-block;
    width:     50px;
    height:    50px;
    font-size: 25px;
    background: url('photo-main/css_sprites-1.png') -2px -2px;
    transition: 0.5s;
    
}

.link-2:before{
    content:    "";
    display:    inline-block;
    width:     50px;
    height:    50px;
    font-size: 25px;
    transform: rotate(45deg);
    background: url('photo-main/css_sprites-1.png') -164px -2px;
    border-radius: 25px;
}

li:hover a.link-2:before{
    background: url('photo-main/css_sprites-1.png') -110px -2px;
    transition: 0.5s;
    
}

.link-3:before{
    content:    "";
    display:    inline-block;
    width:     50px;
    height:    50px;
    font-size: 25px;
    transform: rotate(45deg);
    background: url('photo-main/css_sprites-1.png') -272px -2px;
    border-radius: 25px;
}

.link-4:before{
    content:    "";
    display:    inline-block;
    width:     50px;
    height:    50px;
    font-size: 25px;
    transform: rotate(45deg);
    background-color: lime;
    border-radius: 25px; 
}

li:hover a.link-4:before{
    background-color: blue; 
    transition: 0.5s ease;
    
}

li:hover a.link-3:before{
    background: url('photo-main/css_sprites-1.png') -218px -2px;
    transition: 0.5s;
    
    }

.transform{
    margin-top: -65px;
    position: fixed;
    top: 50%;
    right: 0;
    display: block;
    width: 400px;
    height: 160px;
    background: black;
    padding: 10px 10px 10px 60px;
    outline: 1px solid white;
    vertical-align: top;
    left: 97%;
    transition: left .5s ease-in;
}


.transform:before{
    content: "HOVER ME";
    position: absolute;
    display: inline-block;
    font-size: 34px;
    color: lightskyblue;
    top: 100%;
    left: 0;
    transform-origin: 0 0 0;
    transform: rotate(-90deg);
    border-bottom: 1px solid white;
}

#social-network-2{
    width: 130px;
    height: 130px;
    display: inline-block;
    font-size: 0;
    padding: 0;
    transform: rotate(-45deg);
    padding: 15px;
}
 
#social-network-2 li{
    outline: 1px solid white;
    padding: 2px;
    margin: 5px;
}

.transform:hover{
    left: 83%;
    transition: left .5s ease-in; 
}
