@import url("home-work5/inline-block/i-css.css");
@import url("home-work5/table-cell/t-css.css");
@import url("home-work6/float.css");
@import url("home-work7/after/after.css");
@import url("home-work7/flex/flex.css");
@import url("home-work8/grid-t-columns/grid-t.css");
@import url("home-work8/grid-areas/areas.css");
@import url("home-work9/hw9.css");
@import url("gallary-main.css");

.main{
	position: relative;
	z-index:  10;	
}

#main-html  li{
	display:    inline-block;
	font-size:  20px;
	background: black;

	
}

#main-html  li:hover{
	background: lightskyblue;
	
}

#main-html  a:hover{
	color: black;
}
#main-html  a{
	color:           white;
	font-size:       20px;
	text-decoration: none;
	font-weight:     800;
}

.main>li+li,
.child-2>li{
	border-left: 2px solid white;
}

ul li ul li ul li:first-child{
	border-bottom: 2px solid white ;
}

.child>li{
	border-top: 2px solid white;
}

.child-3>li{
	border-right:  2px solid white;
}

.father:hover .child,
.father-2:hover .child-2,
.father-3:hover .child-3{
	display: block;
}

 .main,
 .child-2{
	font-size:  0;
	text-align: center;
	padding:    0;	
}

#main-html .home,
 #main-html .gallery-menu{
	text-decoration: none;
	font-weight:     800;
	color:           white;
	font-size: 		 25px;
	padding: 		 18px 50px 15px 104px;
	display: 		 block;	
	position:		 relative;
}

#main-html .block-menu{
	text-decoration: none;
	font-weight:     800;
	color:           white;
	font-size: 		 25px;
	padding: 		 18px 208px 15px 12px;
	display: 		 block;	
	position:		 relative;
}


#main-html .home:before{
	content: "";
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	left: 1%; 
    background: url('photo-main/css_sprites-2.png') -646px -2px;;
}

#main-html .gallery-menu:before{
	content: "";
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	left: 2%; 
    background: url('photo-main/css_sprites-2.png') -582px -2px;
}

#main-html .block-menu:before{
	content: "";
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	right: 2%; 
    background: url('photo-main/css_sprites-2.png') -518px -2px;
}

.child{
	position: absolute;
	top:  	  100%;
	left:	  0px;
	font-size: 25px;
	/*display:  none;*/



	padding:    0;
	font-size:  0;
	text-align:left;
}

.father,
.father-2,
.father-3{
	position: relative;
}

.child-2{
	position: absolute;
	top: 	  0;
	left: 	  100%;
	display:  none;
}

.child-3{
	position: absolute;
	bottom:   0;
	right:    100%;
	display:  none;
}

.child a{
	display: block;
	width: 200px;
	height: 20px;
	padding: 20px 45px;
}