@import url("home-work5/inline-block/i-css.css");
@import url("home-work5/table-cell/t-css.css");
@import url("home-work6/float.css");
@import url("home-work7/after/after.css");
@import url("home-work7/flex/flex.css");
@import url("home-work8/grid-t-columns/grid-t.css");
@import url("home-work8/grid-areas/areas.css");
@import url("home-work9/hw9.css");
@import url("gallary-main.css");

.main{
	position: relative;
	z-index:  10;	
}

#main-html  li{
	display:    inline-block;
	font-size:  20px;
	background: black;

	
}

#main-html  li:hover{
	background: lightskyblue;
	
}

#main-html  a:hover{
	color: black;
}

#main-html  a{
	color:           white;
	font-size:       20px;
	text-decoration: none;
	font-weight:     800;
}

.main>li+li,
.child-2>li{
	border-left: 2px solid white;
}

ul li ul li ul li:first-child{
	border-bottom: 2px solid white ;
}

.child>li{
	border-top: 2px solid white;
}

.child-3>li{
	border-right:  2px solid white;
}

/*.father:hover .child,
.father-2:hover .child-2,
.father-3:hover .child-3{
	display: block;
}*/

 .main,
 .child-2{
	font-size:  0;
	text-align: center;
	padding:    0;	
}

#main-html .home,
 #main-html .gallery-menu{
	text-decoration: none;
	font-weight:     800;
	color:           white;
	font-size: 		 25px;
	padding: 		 18px 50px 15px 104px;
	display: 		 block;	
	position:		 relative;
}

#main-html .block-menu{
	text-decoration: none;
	font-weight:     800;
	color:           white;
	font-size: 		 25px;
	padding: 		 18px 208px 15px 12px;
	display: 		 block;	
	position:		 relative;

}


#main-html a.home:before{
	content: "";
	display: inline-block;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	left: 0; 
    background: url('photo-main/css_sprites-1.png') -582px -2px;
    transition: 0.5s;
}

#main-html .gallery-menu:before{
	content: "";
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	left: 1%; 
    background: url('photo-main/css_sprites-1.png') -646px -2px;
}

#main-html .father>a:before{
	content: "";
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	right: 0; 
    background: url('photo-main/css_sprites-1.png') -326px -2px;
    transition: 0.5s;
}

#main-html .father:hover a.block-menu:before{
	content: "";
    background: url('photo-main/css_sprites-1.png') -390px -2px;
    transition: 0.5s;
    position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 60px;
	display: inline-block;
}


.father:hover #tc-block{
	display: inline-block;
	padding:    0;
	font-size:  0;
	text-align: left;
	position:   absolute;
	height:     504%;
	top:  	    100%;
	left:	    0px;
	font-size:  25px;
	transition: height 2s ease;
}


.child{
	position:   absolute;
	height:      0;
	top:  	    100%;
	left:	    0px;
	font-size:  25px;
	padding:    0;
	font-size:  0;
	text-align: left;
	overflow:   hidden;
	transition: height 2s ease;	
}

 .father-2:hover #child-2{
	height:   204%;
	position: absolute;
	top: 	  0;
	left:     100%;
	transition: height 2s ease;
	overflow: visible;
}

.father,
.father-2,
.father-3{
	position: relative;
}

.child-2{
	position: absolute;
	top: 	  0;
	left: 	  100%;
	transition: height 2s ease;
	height: 0;
	
}

.child-3{
	position: absolute;
	bottom:   0;
	right:    -100000%;
	transition: right 2s ease;
	/*display:  none;           */
	overflow: hidden;
}


.father-3:hover .child-3{
	position: absolute;
	bottom:   0;
	right :    100%;
	transition: right 2s ease;
	overflow: visible;
}

.child a{
	display: block;
	width: 200px;
	height: 20px;
	padding: 20px 45px;
}


 .father-2>a:before{
	content: "";
	display: inline-block;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	right: 0; 
    background: url('photo-main/css_sprites-1.png') -454px -2px;
    transition: 0.5s;
}

 .father-2:hover a.menu-2-level:before{
	content: "";
	display: inline-block;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	right: 0; 
    background: url('photo-main/css_sprites-1.png') -518px -2px;
    transition: 0.5s;
}

.father-3>a:before{
	content: "";
	display: inline-block;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	left: 0; 
    background: url('photo-main/css_sprites-1.png') -518px -2px;
    transition: 0.5s; 
}

.father .gr-menu-2-level{
	    padding: 20px 0px 20px 142px;
    	width: 150px;
}

.father-3:hover a.gr-menu-2-level:before{
	content: "";
	display: inline-block;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	left: 0; 
    background: url('photo-main/css_sprites-1.png') -454px -2px;
    transition: 0.5s; 
}