#flex {
	width:      1200px;
	margin:     0 auto;
	background: lightgrey;
}


.width_400 {
	width: 400px;
}

.width_800 {
width: 800px;
}

#flex div{
outline: 2px solid black;
}

.orange {
	background: orange;
}

.green {
	background: green;	
}

.pink {
	background: pink;
}

.aqua {
	background: aqua;
}
.parent { 
display: flex;
justify-content: flex-start;
 }

