.wrapper {
	width:      1200px;
	margin:     0 auto;
	background: lightgrey;
}

.over {
	float: left;
}

.width_400 {
	width: 400px;
}

.width_800 {
width: 800px;
}

div {
outline: 2px solid black;
}

.clear {
	clear:left;
}

.orange {
	background: orange;
}

.green {
	background: green;	
}

.pink {
	background: pink;
}

.aqua {
	background: aqua;
}