.wrapper {
	width:      1200px;
	margin:     0 auto;
	background: lightgrey;
}

p {
	margin: 0;
}

.inline_b {
	padding:   0;
	font-size: 0;
}

.orangered {
	background: orangered;
	width:      400px;
	font-size:  20px;
}

.lightgreen {
	background: lightgreen;
	outline:    2px solid black;
	width:      800px;
}

.in_lightgreen {
	outline:   2px solid black;
	font-size: 20px;
}

.lightpink {
	width:   400px;
	margin:  0 auto;
}

.in_lightpink {
	background: lightpink;
	outline:    2px solid black;
	font-size:  20px;
}

.blue{ 
	background: blue;
	width:      400px;
	font-size:  20px;
}

.yellow {
	background: yellow;
	width:      800px;
	font-size: 20px;
}

.red {
	background: red;
	width:      400px;
	font-size: 20px;
	outline: 2px solid black;
}

.over_red,
.over_2
.last {
	font-size: 0;
}

.lightcyan {
	background: lightcyan;
	width:      400px;
	font-size:  20px;
}

.darkseagreen {
	background: darkseagreen;
	outline:    2px solid black;
	font-size:  20px;
}

.pink {
	background: pink;
	outline:    2px solid black;
	font-size:  20px;
}

.orange {
background: orange;
outline:    2px solid black;
font-size:  20px;
}

.over {
width: 800px;
}

.lime {
	background: lime;
	font-size: 20px;
}

.lime,
.last{
	width: 400px;
}

.yellow,
.blue,
.lightpink,
.orangered,
.lightgreen,
.red,
.over,
.lightcyan,
.last,
.lime,
.over_red{
	display: inline-block;
	outline: 2px solid black;
}