.wrapper {
	width:      1200px;
	margin:     0 auto;
	background: lightgrey;
 }

div {
	outline: 2px solid black;
}

.orange {
	background: orange;
}

.green {
	background: green;	
}

.pink {
	background: pink;
}

.aqua {
	background: aqua;
}

.block_1 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.grid-800-400{
	display: grid;
	grid-template-columns:repeat(2, 800px 400px);
}

.block_3{
	display: grid;
	grid-template-columns:repeat(2, 400px 800px);
}

.grid-2-1fr{
	display: grid;
	grid-template-columns:repeat(2, 1fr);
}

